.contactContainer{
    display: flex; 
    background-color: rgb(224, 224, 224);
    margin: 0 auto;
    margin-top: 30px;
    max-width: 60%;
    /* max-height: 900px; */
    padding: 20px;
    border-radius: 5px;
    text-align: center;
     justify-content: space-between;
     overflow: hidden;
}
.contactCard{
    width: 500px;
  overflow: hidden;
  box-shadow: 4px 4px 8px 4px rgb(130, 127, 129);
  display: inline-block;
  flex:1;
  align-content: center;
  transition: transform 200ms ease-in;
  margin: 10px;
}
.contactBody{
    display: inline-block;
    text-align: center;
}
.contactCardImg{
    height: 400px;
    width: 100%;
    object-fit: cover;
}
.contactCardTitle{
    margin: 0 auto;
    padding: 10px;
    text-align: center;
    color: rgb(97, 95, 97);
}
.contactCardPar{
    color: rgb(97, 95, 97);
}
.formBox{
    display: inline-block;
    flex: 1;
    background-color: rgb(224, 224, 224);
    box-shadow: 4px 4px 8px 4px rgb(130, 127, 129);
    margin: 10px;
    max-width: 650px;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

.formBox input, textarea{
    display: flex;
    flex-direction: column;
    width: 95%;
    margin: 10px auto;
    padding: 10px;
    font-size: 20px;
    border: 1px solid rgb(95, 91, 94);
    border-radius: 5px;
}

.formBox span{
 font-size: 30px;
 font-weight: bold;
 color: rgb(50, 48, 50);
}
.formText{
    color: rgb(97, 95, 97);
}
.formBtn{
    padding: 5px 15px;
    font-size: 17px;
    border: 2px solid rgb(95, 91, 94);
    border-radius: 5px;
    box-shadow: 4px 4px 8px 2px rgb(130, 127, 129);
   background-color: rgb(180, 180, 180);
   color: rgb(82, 81, 82);
   margin: 10px;
}

.formBtn:hover{
    background-color: rgb(132, 129, 131);
    color: white;
}

.contactError {
    color: rgb(255, 0, 0);
    font-size: 10px;
    margin-bottom:5px;
}