/* contact.module.css */
.contactContainer {
    max-width: 600px; 
    margin: 0 auto;
    padding: 20px;
  }
  
  .contactForm {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .formGroup {
    display: flex;
    flex-direction: column;
  }
  
  .formLabel {
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px; 
  }
  
  .contactError {
    color: red;
    font-size: 14px; /* Increased the font size for error messages */
  }
  
  .formBox {
    text-align: center; /* Center-align the content inside the formBox */
  }
  
  .formBtn {
    background-color: black;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    margin-top: 10px; /* Add some top margin to the button for spacing */
    display: block; /* Make the button a block-level element */
    margin-left: auto; /* Auto margin on the left to center the button */
    margin-right: auto; /* Auto margin on the right to center the button */
  }
  
  .formBtn:hover {
    background-color: #333;
  }
 