/* Main container navbar */
.navbar {
    display: flex;
            flex-direction: column;
   overflow: hidden;
    background-color: white;
    margin: 0px auto;

}

li{
    list-style: none;
    /* border-top: 1px solid #000;  */
    /* border-bottom: 1px solid #000; */
}
/* Top navbar */
.navTop{
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    background-color: white;
    width: 100%;
    margin: 0 auto;
    align-items: center;
    padding-bottom: 0px;
    margin-bottom: 0px;
    justify-content: center;
}

.navTopRight{
display: flex;
flex-direction: row;
background-color:transparent;
width: 15%;
justify-content: space-around;
margin-right: 10px;
padding: 5px;
margin-bottom: 0px;
}
.navTopNames{
   text-decoration: none; 
   color: rgb(59, 57, 57);
   font-size: 20px;
   display: inline-block; 
   font-family: Impact, 'Arial Narrow Bold', sans-serif; 
   font-size: 25px;
   padding: 5px 30px;
}

.navTop :global(.active) {
    color: rgb(123, 122, 123);;
 }

.navTopNames:hover{
    color: rgb(171, 169, 171);
}

/* Bottom navbar */
.navBottom{
    display: flex;
  color: rgb(59, 57, 57);
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  background-color: white;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}

.navTools {
    display: flex;
    flex-direction: row;
    background-color: transparent;
    justify-content:left;
    padding: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
   
}
.navToolsRight{
    display: flex;
    flex-direction: row;
    background-color:transparent;
    justify-content:right;
    padding: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
    color: rgb(59, 57, 57);
}

.navToolsRight li{
    display: inline-block;  
    /* font-family: Impact, 'Arial Narrow Bold', sans-serif; */
    font-size: 30px;
    padding: 5px 30px;   
}

.navTools li {
    display: inline-block;  
    /* font-family: Impact, 'Arial Narrow Bold', sans-serif; */
    font-size: 30px;
    padding: 5px 30px;
    
}
.navNames {
    text-decoration: none;
    color: rgb(59, 57, 57);
}
.navTools :global(.active) {
   color: rgb(123, 122, 123);
}
.navToolsRight :global(.active) {
    color: rgb(123, 122, 123);
 } 
.navTools li:hover {
    background-color: rgb(171, 169, 171);
}
.navToolsRight li:hover{
    background-color: rgb(171, 169, 171);
}

/* responsive */

@media only screen and (max-width: 830px){
    .navTools {
        width: 50%;
        align-items: center;
    }
    .navTools li {
        font-size: 20px;   
        padding: 5px 15px;
    }
    .navToolsRight{
        width: 50%;
        align-items: center;
    }
    .navToolsRight li{
        font-size: 20px;   
        padding: 5px 15px;
        margin-right: 10px;
    }
    .navTopNames{
        font-size: 18px;
    }
}

@media only screen and (max-width: 460px){
    .navTools li {
        font-size: 12px; 
        padding: 4px; 
             
    }
    
    .navToolsRight li{
        font-size: 12px;
        padding: 5px;
        
    }
    .navToolsRight{
        width: 30%;
        align-items: center;
        margin-right: 10px;
    }
    .navTopNames{
        font-size: 15px;
    }
}

@media only screen and (max-width: 285px){
    .navTools li {
        font-size: 8px;         
    }
    .navToolsRight li{
        font-size: 8px;
    }
    .navTopNames{
        font-size: 10px;
    }
}

  
  .hamburgerMenu {
    display: none;
    flex-direction: column;
    cursor: pointer;
    margin-right: 16px;
    
  
    .bar {
      width: 13px;
      height: 2px !important;
      background-color: #333;
      margin: 1px 0;
      border-radius: 4px;
    }
  }
  
  .navTools {
    list-style: none;
    padding: 0;
    display: flex;
    align-items: center;
  
    li {
      margin-right: 20px;
  
      &:last-child {
        margin-right: 0;
      }
    }
  }
  
  .navToolsRight {
    list-style: none;
    padding: 0;
    display: flex;
    align-items: center;
  
    li {
      margin-left: 20px;
  
      &:first-child {
        margin-left: 0;
      }
    }
  }
  
  /* Media query for the responsive menu */
  @media (max-width: 768px) {
    .hamburgerMenu {
      display: flex;
    }
  
    .navTools,
    .navToolsRight {
      display: none;
      flex-direction: column;
      top: 70px;
      left: 0;
      background-color: #fff;
      width: 100%;
      text-align: center;
      z-index: 1;
  
      &.open {
        display: flex;
      }
  
      li {
        margin: 12px 0;
        border: none !important;
      }
    }
  }